/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.bg-light {
    background-color: #942b2f !important;
}

/* Provide sufficient contrast against white background */

.change-my-color {
    fill: whitesmoke;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #dad9d5;
    /*#1b6ec2;*/
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    text-align: left;
}

body {
    background-image: url("/pictures/background.jpg");
    /*background-size: cover;*/
    margin-bottom: 60px;

}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f8f9fa;
}

table{
    vertical-align: central;
    text-align: left;
    /*background-color: ghostwhite;*/
}
.table > tbody {
    background-color: #f8f9fa;
}

.div_background {
    background-color: #f8f9fa;
}


.backdidplay {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    background-color: rgba(255,255,255,0.7);
}

ul,li{
    margin-left:0;
}

#map {
    height: 100%;
}

.admin_menu {
    border-color: darkslategrey;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    font-style: italic;
    text-align:center
}

.twitter_div {
    column-count: 4;
    margin-left: 12%;
}

@font-face {
    font-family: welcomeFont;
    src: url('webfont.eot');
}

.welcome{
    font-family: welcomeFont;
}



/*a {
    color: #0366d6;
}*/

post-header {
    margin-bottom: 30px;
    position: relative;
}


h1 {
    color: #f8f9fa;
    font-family: inherit;
    font-size: 75px;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
}


p {
    color: #bbc3c8;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-indent: 30px;
    margin: 0;

}


a {
    color: #c64119;
    border-bottom: 1px solid #c64119;
    text-decoration: none;
}


    a:hover {
        color: #993213;
        border-bottom: 1px solid #993213;
    }


.date {
    color: #bbc3c8;
    background: #292929;
    display: inline-block;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 20px 18px;
    padding: 10px 12px 8px;
    position: absolute;
    bottom: -36px;
}

.side-by-side{
    display:flex;
}

.center-block {
    float: none ;
    margin-left: 25%;
}

.carousel img {
    width: 100%;
    height: 100%
}
.carousel {
    width: 540px;
    height: 360px;
}

.w-100 {
    width: 100% !important;
    height: 75vh;
}


.video {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
    text-align: center;
}
