@model IEnumerable<List<string>>

@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1>Welcome</h1>
    <div class="w-100"></div>
    <div class="col 3">
        <br /><br />
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3c4CmNCdY_I" allowfullscreen></iframe>
        </div>
   
        <div class="twitter_div">
            <table>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


    @section Scripts
{
        <script src="~/js/twitter.js"></script>
        <script id="twitter-wjs" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

        <script>
    var tweets = @Html.Raw(ViewBag.Tweets);
    $(document).ready(function () { embedTweet(tweets);});
        </script>

        <div hidden type="text/html" id="hidden-template">
            <span id="tweet{id}" style="padding-bottom:10px"></span>
        </div>
    }
