@model Store_Project.Models.User

@{
    ViewData["Title"] = "Access_denied";
}

<h1>Oops!</h1>
<h2>You are not authorized to access this page</h2>

<a asp-action="Logout">Click here</a> to sign in diferrent user