@model Store_Project.Models.User

@{
    ViewData["Title"] = "Change Password";
    Layout = "_Layout";
}



<hr />
<div class="row justify-content-center my-auto">
    <div class="col-md-8 col-10 my-5">
       <!--- <div class="row justify-content-center px-3 mb-3"> <img id="logo" src="https://i.imgur.com/PSXxjNY.png"> </div> -->
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                    </svg>
                </span>
                
                <input asp-for="Password" type="password" name="newpass" class="form-control form-control-light login_input" placeholder="New Password" aria-label="New Password" />
                <br />
                <span asp-validation-for="Password" data-valmsg-for="newpass" class="text-danger"></span>
            </div>
            <div class="row justify-content-center my-3 px-3">
                <input type="submit" asp-action="ChangePassword" value="Change Password" class="btn btn-outline-danger" />
            </div>
        </form>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
